<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<div class="col-lg-8 col-lg-offset-2">
  <h2>SpaceX Launches</h2>
  <div *ngIf="launches.length > 0">
    <ul>
      <li *ngFor="let launch of launches ">{{launch.rocket.rocket_name}} {{launch.launch_date_utc | date}}
      </li>
    </ul>
  </div>
  <div *ngIf="launches.length === 0">
    <p>No hay lanzamientos disponibles</p>     
  </div>
</div>

<!-->7 interpolamos atributos y usamos pipes<-->
{{launches | json}}